﻿@using WebUsuarios.Models
@model LoginViewModel
@{
    ViewBag.Title = "Iniciar sesión";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";

}


<section id="loginForm" class="card">
    <div class="card-header text-white bg-primary"><i class="fa fa-lock"></i></div>
    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-signin", role = "form",  autocomplete = "off" }))
    {
        @Html.AntiForgeryToken()

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">

            <div class="col-md-12">

                @Html.TextBoxFor(m => m.Usuario, new { @class = "form-control text-center", @placeholder = "Usuario" })


            </div>
        </div>
        <div class="form-group">

            <div class="col-md-12">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control text-center", @placeholder = "Password" })

            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-12">
                <div class="checkbox">
                    @Html.CheckBoxFor(m => m.RememberMe)
                    @Html.LabelFor(m => m.RememberMe)
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-12">
                <input type="submit" value="Iniciar sesión" id="login-access" class="btn btn-default" />
            </div>
        </div>
        <div class="form-group text-center" id="login-loading" style="display:none">
            <img src="~/Images/loading.gif" height="70px" />
        </div>


    }
</section>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}