﻿@using WebUsuarios.Models
@using System.Web.UI.WebControls
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Usuarios</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/bootstrap-notify.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.10.16/af-2.2.2/b-1.4.2/b-colvis-1.4.2/b-flash-1.4.2/b-html5-1.4.2/b-print-1.4.2/r-2.2.0/datatables.min.css" />



</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="#">Administración de Usuarios</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">

                    <li class="nav-item dropdown active">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-user"></i> @User.Identity.Name
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="/Account/LogOff"><i class="fa fa-sign-out"></i> Cerrar Sesión</a>
                        </div>
                    </li>

                </ul>
            </div>
        </div>
    </nav>

    <div class="container-fluid" style="padding:3em">
        @RenderBody()

    </div>

    <div class="modal fade" id="ModalAlta" tabindex="-1" role="dialog" aria-labelledby="ModalAltaLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"><i class="fa fa-user"></i> Nuevo Usuario</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <form autocomplete="off">
                            @{
                                var enumSexo = from Sexo e in Enum.GetValues(typeof(Sexo))
                                               select new
                                               {
                                                   ID = (int)e,
                                                   Name = e.ToString()
                                               };
                                var listSexo = new SelectList(enumSexo, "ID", "Name");

                            }
                            <div class="row" style="padding-bottom:30px">
                                <div class="col-md-6">
                                    @Html.Editor("Usuario", new { htmlAttributes = new { @class = "form-control text-center", @placeholder = "Usuario" } })
                                    <span class="help-block" id="resultUsuario"></span>
                                </div>
                                <div class="col-md-6">
                                    @Html.Editor("Email", new { htmlAttributes = new { @type = "email", @class = "form-control text-center", @placeholder = "Email" } })
                                    <span class="help-block" id="resultEmail"></span>
                                </div>
                            </div>
                            <div class="row" style="padding-bottom:30px">
                                <div class="col-md-6">
                                    @Html.Password("Password", null, new { @class = "form-control text-center", @placeholder = "Password" })
                                    <span class="help-block" id="result"></span>
                                </div>

                                <div class="col-md-6">
                                    @Html.Password("PasswordConfirm", null, new { @class = "form-control text-center", @placeholder = "Confirmar Password" })
                                    <span class="help-block" id="resultConfirm"></span>
                                </div>

                            </div>
                            <div class="row" style="padding-bottom:30px">
                                <div class="col-md-12 ml-auto">
                                    @Html.DropDownList("IdSexo", listSexo as SelectList, "Selecciona el Sexo", new { @class = "form-control col-md-12" })
                                    <span class="help-block" id="resultSexo"></span>
                                </div>
                            </div>
                            <div class="form-group text-center" id="login-loading" style="display:none">
                                <img src="~/Images/loading.gif" height="70px" />
                            </div>
                        </form>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-close"></i> Cancelar</button>
                    <button type="button" class="btn btn-success" id="AddUser"><i class="fa fa-user-plus"></i> Agregar</button>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="ModalEdit" tabindex="-1" role="dialog" aria-labelledby="ModalEditLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"><i class="fa fa-user"></i> Editar Usuario</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <form autocomplete="off">
                            @Html.Hidden("IdUsuario", "", new { @class = "hiddenid" })
                            <div class="row" style="padding-bottom:30px">
                                <div class="col-md-6">
                                    @Html.Editor("UsuarioEdit", new { htmlAttributes = new { @class = "form-control text-center", @placeholder = "Usuario" } })
                                    <span class="help-block" id="resultUsuarioEdit"></span>
                                </div>
                                <div class="col-md-6">
                                    @Html.Editor("EmailEdit", new { htmlAttributes = new { @type = "email", @class = "form-control text-center", @placeholder = "Email" } })
                                    <span class="help-block" id="resultEmailEdit"></span>
                                </div>
                            </div>
                            <div class="row" style="padding-bottom:30px">
                                <div class="col-md-6">
                                    @Html.Password("PasswordEdit", null, new { @class = "form-control text-center", @placeholder = "Cambiar Password" })
                                    <span class="help-block" id="resultEdit"></span>
                                </div>

                                <div class="col-md-6">
                                    @Html.Password("PasswordConfirmEdit", null, new { @class = "form-control text-center", @placeholder = "Confirmar Password" })
                                    <span class="help-block" id="resultConfirmEdit"></span>
                                </div>

                            </div>
                            <div class="row" style="padding-bottom:30px">
                                <div class="col-md-12 ml-auto">
                                    @Html.DropDownList("IdSexoEdit", listSexo as SelectList, "Selecciona el Sexo", new { @class = "form-control col-md-12" })
                                    <span class="help-block" id="resultSexoEdit"></span>
                                </div>
                            </div>
                            <div class="form-group text-center" id="login-loading-edit" style="display:none">
                                <img src="~/Images/loading.gif" height="70px" />
                            </div>
                        </form>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-close"></i> Cancelar</button>
                    <button type="button" class="btn btn-success" id="EditUser"><i class="fa fa-user-plus"></i> Guardar</button>
                </div>
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="https://momentjs.com/downloads/moment.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="~/Scripts/bootstrap-notify.js"></script>
    <script src="~/Scripts/ValidaPassword.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/vfs_fonts.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.10.16/af-2.2.2/b-1.4.2/b-colvis-1.4.2/b-flash-1.4.2/b-html5-1.4.2/b-print-1.4.2/datatables.min.js"></script>
    <script src="~/Scripts/scripts.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
