﻿<!doctype html>
<html lang="es-mx">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Login</title>
    @Styles.Render("~/Content/css")
    <link href="~/Content/login.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-notify.css" rel="stylesheet" />
</head>
<body class="text-center">
    @RenderBody()
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/bootstrap-notify.js"></script>
    <script src="~/Scripts/login.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>