﻿@{
    ViewBag.Title = "Inicio";
}


<div class="row">
    <div class="col-md-12">
        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#ModalAlta" ><i class="fa fa-user-plus"></i> Agregar </button>
        <div class="table-responsive" style="padding-top:30px">
            <table id="Usuarios" class="display" style="width:100%">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Usuario</th>
                        <th>Correo</th>
                        <th>Sexo</th>
                        <th>Estatus</th>
                        <th>Accion</th>
                    </tr>
                </thead>
                <tbody></tbody>

            </table>
        </div>
    </div>
</div>